*{
    font-size:95%;
    padding:0;
    margin:0;
}

ul{
    list-style-position: inside;
}

/*************************
page-admin
*************************/
/* common */
.page-admin .pdg-btm-m{
    padding-bottom:10px;
}
.page-admin .col-red{
    color:red;
}

.page-admin{
    padding:10px;
}

.page-admin header{
    border-bottom:1px solid #cccccc;
    width:100%;
    overflow:hidden;
    margin-bottom:10px;
}
.page-admin header h1{
    padding-bottom:10px;
    float:left;
}

.page-admin header .user-status{
    float:right;
}

.page-admin .pan{
    padding:5px 0 20px 0;
}
.page-admin .contentes_area{
    width:100%;
    overflow:hidden;
}
.page-admin navi{
    width10%;
    float:left;
}
.page-admin main{
    width:85%;
    float:right;
}
.page-admin main .sub-menu{
    margin-bottom:5px;
}

/* table */
.page-admin table{
    background-color:#ccc;
}
.page-admin table td{
    background-color:#fff;
    padding:10px;
}


